aiohttp==3.11.14
alipay-sdk-python==3.7.156
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
bardapi==1.0.0
bcrypt==4.3.0
browser-cookie3==0.20.1
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
dashscope==1.22.2
diskcache==5.6.3
distro==1.9.0
fire==0.7.0
fonttools==4.56.0
freetype-py==2.3.0
frozenlist==1.5.0
gevent==24.2.1
greenlet==3.0.3
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
imageio==2.37.0
imgaug==0.4.0
itsdangerous==0.24
jeepney==0.9.0
jieba==0.42.1
jiter==0.9.0
joblib==1.4.2
jwt==1.3.1
kiwisolver==1.4.8
lazy_loader==0.4
Levenshtein==0.27.1
lmdb==1.6.2
loguru==0.7.3
lz4==4.4.3
Markdown==3.7
matplotlib==3.10.1
multidict==6.2.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.2
openai==1.68.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
optionaldict==0.1.2
packaging==24.2
paddleocr==2.9.1
paddlepaddle==2.6.2
paramiko==3.5.1
pdfminer==20191125
phonenumbers==9.0.1
propcache==0.3.0
protobuf==6.30.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.28.0
pyclipper==1.3.0.post6
pycryptodome==3.22.0
pycryptodomex==3.22.0
pydantic==2.10.6
pydantic_core==2.27.2
PyNaCl==1.5.0
pyparsing==3.2.2
pysam==0.23.0
python-barcode==0.15.1
python-docx==1.1.2
python-gemini-api==2.4.12
python-ldap==3.4.4
python-Levenshtein==0.27.1
PyYAML==6.0.2
RapidFuzz==3.12.2
rlPyCairo==0.3.0
rsa==4.9
RUST==1.3.1
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
setuptools==77.0.3
shapely==2.0.7
simsimd==6.2.1
sniffio==1.3.1
stringzilla==3.12.3
termcolor==2.5.0
threadpoolctl==3.6.0
tifffile==2025.3.13
tomli==2.2.1
tqdm==4.67.1
websocket-client==1.8.0
wechatpy==1.8.18
xmltodict==0.11.0
yarl==1.18.3
zope.event==5
zope.interface==7.2
zxcvbn==4.5.0